<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <script
        src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="login.css">
</head>
<body>
    <form class="login" method="POST" action="/register">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="SignUp">
    </form>
</body>
</html>