<!DOCTYPE html>
<html lang="en">
<head>
    <title>Send Message</title>
</head>
<body>
    <form method="POST" action="/send">
        <input type="text" placeholder="message" name="message[text]">
        <input type="text" placeholder="TO.." name="message[reciever]"> 
        <input type="submit">
    </form>
</body>
</html>